<h1>New User</h1>

<div class="container">
  <br>
  <div class="row">
    <div class="col-md-6" col-md-offset-3>
      <%= simple_form_for @user do |f| %>
        <%= f.input :first_name, label: 'Enter first name ' %>
        <%= f.input :last_name, label: 'Enter last name ' %>
        <%= f.input :phone_number, placeholder: '123-456-7890 ' %>
        <%= f.input :email, placeholder: 'user@domain.com ' %>
        <%= f.input :password, hint: 'password must be > 5 characters ' %>
        <%= f.button :submit, class: 'btn btn-success btn-block btn-md' %>
        <%= link_to 'Back', users_path %>
      <% end %>
    </div>
  </div>
</div>
