<p id="notice"><%= notice %></p>
<div>
  Welcome, <%= @user.first_name + " " + @user.last_name %>
</div>
<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @user.phone_number %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %>

<input type="text" class='datepicker' >

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>

<div class="scrolly">
   <ul>
      <li>
         Testing the scroll box
      </li>
      <li>
         Testing the scroll box
      </li>
      <li>
         Testing the scroll box
      </li>
      <li>
         Testing the scroll box
      </li>
   </ul>
</div>
