<head>
   <title>Project3</title>
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
   <%= csrf_meta_tags %>
</head>
<body>

   <nav id="thebar" class="navbar navbar-light navbar-fixed-top" style="background-color: #EBFFD6;">

      <div class="navbar-form navbar-right">
         <% if current_user %>
         <%= link_to "Profile", user_path(current_user) %>
         <%= link_to "Log Out", sessions_path, 'data-method' => :delete %>
         </div>
         <% else %>


      <div id="navbar" class="navbar-form navbar-right">

         <%= form_for :user, url: "/sessions", method: "post", :html => {:class => "navbar-form navbar-right"} do |f| %>
         <div class="form-group">
            <%= f.text_field :email, placeholder: "Email", class: "form-control" %>
         </div>
         <div class="form-group">
            <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
         </div>
         <div class="form-group">

            <%= f.submit "Log In", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" %>
         </div>
         <% end %>

         <div class="navbar-form navbar-right">
            <%= link_to "Sign Up Today!", new_user_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" %>
         </div>

         <% end %>

         <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">

                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
               </button>
               <div

               <nav class="mdl-navigation mdl-layout--large-screen-only">
<!--
                   <div class="mdl-layout-spacer"></div>
                      <a class="mdl-navigation__link" href="">Services</a>   ||
                      <a class="mdl-navigation__link" href="">About Us</a>
                    </nav> -->
               <div class="navbar-brand"><%= link_to "Sage Family Chiropractic", "/" %> || <%= link_to "Services", home_services_path %> || <%= link_to "About Us", home_about_path %></div>
            </div>
         </div>
      </div>
   </nav>
   <div>
      <p>
         <br />
         <br />
      </p>
   </div>
   <% flash.each do |name, msg| %>
   <div class="alert alert-dismissible alert-info flash" id="flash">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <span class="sr-only">Oh snap!</span>
      <%= msg %>
   </div>
   <script type="text/javascript">
   $(document).ready(function(){
      setTimeout(function(){
         $('#flash').remove();
      }, 3000);
   })
   </script>
   <% end %>

   <!-- beginning page content -->
   <br />
   <% flash.each do |name, msg| %>
   <p>
      <small> <%= name.capitalize %>: <%= msg %> </small>
   </p>
   <% end %>

   <%= yield %>

<br />
<br />
<br />
   <footer class="footer">
      <div class="container">
         <p class="text-muted">2016 Sage Family Chiropractic All Rights Reserved</p>
      </div>
   </footer>

</body>
